{% extends "color-template.html" %}

{% block content %}
{% load static %}
<h2>Pallette Generator</h2>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
<h2>Available Pallettes</h2>
<h3>Perceptually Uniform Sequential</h3>
<p>These are great - colorblind friendly with a uniform visual hierarchy.  Great for continuous data.</p>
<img src="{% static 'sphx_glr_colormaps_001.png' %}" / >
<h3>Sequential</h3>
<p>These are for continuous data where you want to emphasize extreme values.  The 2-color ones are not perceptually uniform, so be careful.</p>
<img src="{% static 'sphx_glr_colormaps_002.png' %}" / >
<img src="{% static 'sphx_glr_colormaps_003.png' %}" / >
<h3>Diverging</h3>
<p>These are for continuous data where the mean/median is far less interesting than the extremes.</p>
<img src="{% static 'sphx_glr_colormaps_004.png' %}" / >
<h3>Cyclic</h3>
<p>These are for continuous data where the extremes are quite similar, and it's the gradation in the middle you're interested in.</p>
<img src="{% static 'sphx_glr_colormaps_005.png' %}" / >
<h3>Categorical</h3>
<p>These are for categorical data.</p>
<img src="{% static 'sphx_glr_colormaps_006.png' %}" / >
<h3>Miscellaneous</h3>
<p>These are for fairly niche use cases or are just for fun.</p>
<img src="{% static 'sphx_glr_colormaps_007.png' %}" / >
{% endblock %}
