{% extends "base_generic.html" %}

{% block sidebar %}
<h2>Data Viz Color Resources</h2>
<a href="https://color-mapper-webui.appspot.com">Pallette Generator (here)</a>
<a href="https://matplotlib.org/3.1.0/tutorials/colors/colormaps.html">MatPlotLib Documentation</a>
<a href="https://peterkovesi.com/projects/colourmaps/">What is "Perceptually Uniform"?</a>
<a href="http://mkweb.bcgsc.ca/colorblind/">Data Visualization and Color-Blindness Tips & Tricks</a>
<a href="https://www.color-blindness.com/coblis-color-blindness-simulator//">Color-Blindness Simulator</a>
{% endblock %}

